:root { 
--red_900:#b51a1a; 
--gray_900:#001434; 
--black_900_3f:#0000003f; 
--green_600:#419e4b; 
--indigo_300:#7180d0; 
--white_A700_00:#ffffff00; 
--black_900_01:#01071d; 
--green_A700:#01d35b; 
--amber_A700:#ffad03; 
--black_900:#000000; 
--blue_300:#53b1e6; 
--blue_gray_700:#55586c; 
--black_900_03:#070707; 
--indigo_800:#273683; 
--white_A700:#ffffff; 
--black_900_02:#0c0c0c; 
}